ion-header {
  height: 24%;
  width: 100%;
  background: linear-gradient(#66317F, #a870b1);
  border-bottom-right-radius: 45%;

  .circulo {
    width: 125px;
    height: 125px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 60%;
    border: 15px solid #b27bcc;
    background: #683381;
    opacity: 0.1;
    transform: translate(-50%, -50%);
  }

  .icon-back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25%;

    img {
      width: 64%;
      height: 39%;
    }
  }
}

ion-content {
  ion-slides{
     height: 100%;
  }
  ion-slide {
    display: block;

  }
  ion-slide img{
    width: 160%;
    margin-top: -8%;
  }
  .slider-text {
  //  padding-top: -10%;
   margin-top: -4%;
  }
  .slider-text h2{

      color: rgb(0, 0, 0);
      font-weight: 1000;
      font-size: 130%;
  }


  .slider-text p {
    color: #747272;
    margin-right: 5px;
    padding: 3%;
    font-size: 110%;
  }

  .buttons-slide {
    padding: 4%;
    margin-top: -4%;

  }

  .navigator {
    display: flex;
    justify-content: space-between;
    // position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 17%;
  // padding-top: 5%;
  }
}









// ion-content {

//   .main-header {

//     height: 180px;
//     width: 100%;
//     background: linear-gradient(#66317F, #a870b1);
//     border-bottom-right-radius: 40%;

//   }

//   .icon-back {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     top: -45%;

//     img {
//       width: 61%;
//       height: 20%;


//     }


//   }

//   .circulo {
//     width: 125px;
//     height: 125px;
//     -moz-border-radius: 50%;
//     -webkit-border-radius: 50%;
//     border-radius: 60%;
//     border: 15px solid #b27bcc;
//     background: #683381;
//     opacity: 0.1;
//     transform: translate(-50%, -50%);
//   }

//   .circulo1 {
//     width: 125px;
//     height: 125px;
//     -moz-border-radius: 50%;
//     -webkit-border-radius: 50%;
//     border-radius: 60%;
//     border: 15px solid #b27bcc;
//     background: #683381;
//     opacity: 0.1;
//     transform: translate(40%, -115%);

//   }



//   ion-slide {
//     display: block;

//   }

//   .slider-text {
//     margin-top:70%;



//     h2 {

//       color: rgb(0, 0, 0);
//       font-weight: 1000;
//       font-size: 130%;
//     }

//   }

//   .slider-text p {
//     color: #747272;
//     margin-right: 5px;
//     padding: 2%;
//     font-size: 117%;
//   }

//   .buttons-slide {
//     padding: 3%;

//   }

//   .navigator {
//     display: flex;
//     justify-content: space-between;
//     //  position: fixed;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     padding-top: 10%;
//   }


// }
