ion-content{
    --background: linear-gradient( 133deg, #f9f6fa 10%, #fffdff 100%);
    // ion-slides{
    //     height: 100%;
    // }
    ion-slide{
        display: block;
        
    }
    .slide-image{
        width: 100%;
        height: 60%;
    }
    img{
        width: 100%;
        height: 40%;
    } 
    
    .slider-text {
      
        h2{
            color: rgb(0, 0, 0);
            font-weight: 1000;
            
            }
        
    }
   
    .slider-text p{
        // font-size: 1rem;
        color: #747272;
        margin-right: 5px;
     }
     .navigator{
         display: flex;
         justify-content: space-between;
        //  position: fixed;
         width: 100%;
         left: 0;
         bottom:0;
         padding-top: 50%;
     }

   }
  
 