
<div class="user_div">
  <ion-header class="ion-no-border">
    <ion-list lines="none">
      <ion-item color="none">
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title
          style="color: rgb(249, 248, 250); font-weight: 700"
          >Ayuda y Soporte</ion-title
        >

      </ion-item>

    </ion-list>


  </ion-header>
</div>
<ion-content>
  <br />

  <ion-card (click)="OpenEmailcomposer()">
    <ion-item>

      <ion-label style="color: #010101"> <ion-icon style="color:#66317F;  font-size: 23px;" name="mail"></ion-icon> Correo electrónico</ion-label>

      <ion-button (click)="OpenEmailcomposer()"  fill="outline" slot="end"
        ><ion-icon name="chevron-forward"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-card>
</ion-content>
