<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title
      style="color: rgba(123, 69, 147); text-align: center; font-weight: 700"
      >Ayuda y Soporte</ion-title
    >
  </ion-toolbar>
</ion-header> -->
<div class="user_div">
  <ion-header class="ion-no-border">
    <ion-list lines="none">
      <ion-item color="none">
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title
          style="color: rgb(249, 248, 250); text-align: center; font-weight: 700"
          >Ayuda y Soporte</ion-title
        >
        
      </ion-item>
   
    </ion-list>

  
  </ion-header>
</div>
<ion-content>
  <br />
  <br />
  <!-- <ion-card>
  
    <ion-item href="#">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      
    <ion-label >  Facebook Messenger</ion-label>
    <ion-button fill="outline" slot="end"><ion-icon name="chevron-forward"></ion-icon></ion-button>
      
    </ion-item>
  
  </ion-card> -->

  <ion-card>
    <ion-item>
      <ion-icon name="mail"></ion-icon>
      <ion-label style="color: #010101"> Correo electrónico</ion-label>
      
      <ion-button (click)="OpenEmailcomposer()" fill="outline" slot="end"
        ><ion-icon name="chevron-forward"></ion-icon
      ></ion-button>
    </ion-item>
  </ion-card>
</ion-content>
