<ion-content>
  <div class="image-slider">
    <div class="header">
      <ion-buttons slot="start">
        <ion-back-button
          color="primary"
          defaultHref="perfiles"
        ></ion-back-button>
      </ion-buttons>
      <!-- <div class="icon">
        <ion-buttons slot="end">
          <ion-button (click)="hola()">
            <ion-icon color="primary" name="share-social-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
       
      </div> -->
    </div>
    <div
      class="imag"
      *ngIf="tipo_archivo=='image/png' || tipo_archivo=='image/jpeg' "
    >
      <ion-img [src]="API_URI"  ></ion-img>
    </div>
    <div
      class="vid"
      *ngIf="tipo_archivo=='video/mp4' || tipo_archivo=='video/mov'"
    >
      <video [src]="API_URI"></video>
    </div>
    <!-- <img [src]="API_URI" /> -->
  </div>


  <div class="profile-info">
    <div class="user-info">
      <ion-footer class="buttons">
        <ion-buttons>
          <ion-button (click)="socialS(API_URI)" >
            <ion-icon color="primary" slot="icon-only" name="share-social-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons >
          <ion-button (click)="buscar(id)">
            <ion-icon color="primary" slot="icon-only"  [name]="selectedTab" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-footer>
      <div class="basic-info">
        <h2>{{nombre_perfil}}</h2>
        <h3 >{{profesion}}</h3>
        <!-- <div class="icon">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-buttons>
                  <ion-button>
                    <ion-icon
                      slot="icon-only"
                      name="share-social-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>

              <ion-col>
                <ion-buttons>
                  <ion-button (click)="buscar(id)">
                    <ion-icon
                      slot="icon-only"
                      [name]="selectedTab"
                      name="heart-outline"
                    ></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div> -->
        
      </div>
      <br>
      <div class="about-me">
        <h3>Acerca de mi</h3>
         <p>{{descripcion}}</p>
      </div>
      <!-- <ion-chip>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-label>Twitter</ion-label>
      </ion-chip> -->
      <ion-chip (click)="openUrl(enlaceLinkend)">
        <ion-icon name="logo-linkedin" ></ion-icon>
       
        <ion-label>Linkedin</ion-label>
      </ion-chip>
    </div>
    
  </div>
</ion-content>
