// ion-tab-bar, ion-tab-button{
//     background-color: #7c527a;
//    }
   
ion-tab-bar{
  --background:#a870b1;
  // border-top-left-radius: 25px;
  // border-top-right-radius: 25px;
  // width: 90%!important;
  // border-radius: 30px;
  height: 45px;
  // margin-bottom: 1.5rem!important;
  // margin: auto;
}
.tab-selected{
 
  background-color:#66317F;
}
   ion-header {
    background: var(--ion-color-light);
  
    ion-list {
      background: var(--ion-color-tertiary);
      border-radius: 0 0 20px 20px;
      padding-bottom: 7vh;
    }
  }  