
<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/recuperar-contrasenia"></ion-back-button>
        <ion-label color="light">Restablecer</ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <form id="form" [formGroup]="formGroup" (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating"> Nueva contraseña:</ion-label>

      <ion-input type="password" formControlName="contrasenia"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating"> Confirmar contraseña:</ion-label>

      <ion-input type="password" formControlName="contraseniaConf"></ion-input>
    </ion-item>
    <br>


    <ion-button type="submit" color="primary" shape="round"  [disabled]="!formGroup.valid" expand="block">GUARDAR</ion-button>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="foot">

      <div id="header">
        <div class="iconos">
          <div class="logo-face" >
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-label> @fica Stem</ion-label>
          </div>
          <div class="logo-twitter" >
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-label> @StemFica</ion-label>
          </div>

        </div>
        <div class="ficastemlogo">
          <img src="../../../assets/FICASTEM.png" />
        </div>
      </div>


  </div>
</ion-footer>
