<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="menu-opciones-se/menu-principal/home-secundaria"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-item">
    <ion-slides #slides>
      <ion-slide *ngFor="let preguntas of test; let i = index;">
        <div>
          <h4>Pregunta {{i+1}} of {{test.length}}</h4>
          <h3>{{preguntas.pregunta}}</h3>
        </div>
        <div class="list-item">
          <ion-radio-group value="biff">
            <ion-list no-lines radio-group>
              <ion-item *ngFor="let answer of test[i].opciones; let i = index;">
                <ion-label> {{answer.opcion}}</ion-label>
                <!-- <ion-radio value={{answer.puntos}}></ion-radio> -->
                <ion-radio
                  (click)="selectAnswer(answer, preguntas.carrera)"
                ></ion-radio>
              </ion-item>
            </ion-list>
          </ion-radio-group>

          <div>
            <ion-button
              *ngIf="i+1<test.length"
              type="submit"
              color="primary"
              (click)="nextSlide()"
              shape="round"
              expand="block"
              >Siguiente</ion-button
            >
            <ion-button
              *ngIf="i+1==test.length"
              type="submit"
              color="primary"
              shape="round"
              expand="block"
              routerLink="/resultado-test-aptitud"
              >FINALIZAR</ion-button
            >
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
