<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons *ngIf="datos.id_rol==5" slot="start">
        <ion-back-button
          color="light"
          defaultHref="/registro-tutorias"
        ></ion-back-button>
        <ion-label color="light">Disponibilidad de días:</ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let horario of Horarios">
    <ion-item>
      <ion-label>Día:{{horario.fecha}} </ion-label>
    </ion-item>

    <ion-card-content>
      <ion-card-subtitle>Materia:{{horario.nombre_materia}}</ion-card-subtitle>
      <ion-card-subtitle>Hora Inicio:{{horario.hora_inicio}}</ion-card-subtitle>
      <ion-card-subtitle> Hora Fin:{{horario.hora_fin}} </ion-card-subtitle>

      <ion-button slot="end" (click)="getMentoria(horario.id_registro_mentoria)"
        >AGENDAR</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
