<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="menu-opciones-se/menu-principal/home-test-aptitud"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-item">
    <ion-slides #slides>
      <ion-slide >
        <h2>prueba</h2>
      </ion-slide>
      <ion-slide  *ngFor="let test of TestIng">
       
         <h2>hpla</h2>
         
          
       
      </ion-slide>

      <ion-slide>
        <h3>como estas</h3>
       
        
      </ion-slide>
      <ion-slide>
        <h3>el dia</h3>
       
        
      </ion-slide>
      </ion-slides>

  </div>


</ion-content>
