<ion-split-pane contentId="main">
  <ion-menu side="end" menuId="first" contentId="main" color="primary">
    <ion-content auto-hide="false">
      <div class="menu-header-bg">
        <img src="../../../../assets/ficaStemUtnv2.png" />
      </div>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/menu-principal/mi-perfil/{{datos.id_usuario}}">
            <ion-icon color="primary" name="person" slot="start"></ion-icon>
            <label style="font-size: 130%">Mi perfil</label>
          </ion-item>
          <ion-item routerLink="/menu-principal/contacto">
            <ion-icon
              color="primary"
              name="chatbubbles"
              slot="start"
            ></ion-icon>
            <label style="font-size: 130%">Contáctanos</label>
          </ion-item>

          <ion-item (click)="logout()" routerDirection="login">
            <ion-icon color="primary" name="exit" slot="start"></ion-icon>
            <label style="font-size: 130%">Cerrar sesión</label>
          </ion-item>
          <ion-item color="light">

          </ion-item>
          <ion-item lines="none">
            <ion-icon (click)="socialMedia('FACEBOOK')" style="color: rgb(66 103 178) ; font-size: 33px;" name="logo-facebook"></ion-icon>
            <ion-icon  (click)="socialMedia('TWITTER')" style="color: rgb(29 161 242); margin-left: 5% ;font-size: 33px;" name="logo-twitter"></ion-icon>

          </ion-item>
        </ion-menu-toggle>
        <br />
        <br />

      </ion-list>
    </ion-content>
    <ion-footer class="myColor">
      <br />
      <ion-icon name="location">hola</ion-icon> Ibarra,Ecuador
      <br />
      <ion-icon name="mail"></ion-icon> wstem_ecuador@utn.edu.ec
      <h5 class="title"></h5>
    </ion-footer>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-split-pane>
