
 <ion-split-pane contentId="main">
    <ion-menu side="start" menuId="first" contentId="main" color="primary">
     
      <ion-content auto-hide="false">
        <div class="menu-header-bg">
          <img  src="../../../../assets/MUJER_STEM.png" >

        </div>
        <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/mi-perfil/{{datos.id_usuario}}">
            <ion-icon name="person" slot="start"></ion-icon>
            <label>Mi perfil</label>
            
          </ion-item>
        
          <ion-item (click)="logout()" routerDirection="login">
            <ion-icon name="exit-outline" slot="start"></ion-icon>
            Cerrar sesión
          </ion-item>
        </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>