ion-icon{
    color: #444242;
  } 
  .menu-header-bg{
    height: 20%;
    background-color: rgb(212, 16, 22);
    border-radius: 0px 0px 15px 15px;
    img{
      align-items: center;
      margin-top: 8%;
      height: 75%;
      margin-left: 33%;

    }
}

