

<div class="login-page">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div id="head">

        <img src="../../../assets/utncbn.png" />

      </div>
      </ion-col>
      <ion-col size="12" >
        <div id="header">

          <img  src="../../../assets/logostemfica.png" />

        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


  <div class="container ">
    <form id="form" [formGroup]="formLogin" (ngSubmit)="login()">
      <h1>Iniciar Sesión </h1>
      <ion-item>
        <ion-label color="medium" position="floating"> Correo electrónico:</ion-label>
        <ion-input   formControlName="correo_electronico" ></ion-input>
        <ion-icon
        slot="end" name="mail"></ion-icon>
      </ion-item>
      <small  class="error-message" *ngIf="formLogin.get('correo_electronico').hasError('required') && formLogin.get('correo_electronico').touched" >Campo es requerido</small>
      <br>
      <ion-item>
        <ion-label  color="medium" position="floating"> Contraseña:</ion-label>
        <ion-input formControlName="contrasenia"
          [type]="showPassword ? 'text': 'password'"

        ></ion-input>
        <ion-icon


          slot="end"
          [name]="passwordIcon"
          (click)="toggleShow()"
        ></ion-icon>
      </ion-item>
      <small  class="error-message" *ngIf="formLogin.get('contrasenia').hasError('required') && formLogin.get('contrasenia').touched" >Campo es requerido</small>
      <br>
      <div class="head">
        <ion-text color="medium"  class="ion-text-right"></ion-text>

         <a style="color: darkgray;font-size: 100%" routerLink="/recuperar-contrasenia">Olvidaste tu contraseña?</a>

      </div>

     <br>

      <ion-button  color="primary" type="submit" class="btnclass" [disabled]="!formLogin.valid"  expand="block" >Iniciar Sesión </ion-button>
      <p>
        <ion-text style=" font-weight: bold;font-size: 100%;" color="medium"  class="ion-text-right">¿Todavía no tienes cuenta? <a style=" font-weight: bold; text-decoration: none;font-size: 100%;"href="/registro-usuario" >Registrate</a></ion-text>
      </p>
      <br>
      <p>
        <a style=" font-weight: bold; text-decoration: none;"href="/ayuda-soporte" >¿Necesitas ayuda?</a>
      </p>
    </form>
  </div>
</div>

