

.error-message{
  color: var(--ion-color-danger);
  padding-left: 25px;
}
.login-page {

  padding: 6% 0 0;
  // background: #683381;
  background: linear-gradient(#66317F, #a870b1);

  // background: linear-gradient(100deg,rgba(#61358C, 0.10),rgba(#9868A6, 0.8));
  // background-repeat: no-repeat center center fixed;
  min-height: 50vh;
  background-size:100%;

  #header {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;

     top: -12%;

    img {
      width: 60%;
      height: 60%;


    }


  }
  #head {
    display: flex;
    flex-direction: column;
    align-items:start;
     margin-left: 5%;
    img {
      width: 34%;
      height: 34%;


    }
  }

  .container{
    h1 {
      font-weight: 700;
      font-size: 26px;
      color: #010101;
      text-align: center;

    }
    height: 60vh;
    width: 100%;
    background-color: white;
    right: 0;
    left:0;
    bottom: 0;
    position: fixed;
    margin:auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    // border-bottom-left-radius: 40px;
    // border-bottom-right-radius: 40px;
    #form {
      margin-top: 15px;
      padding-left: 30px;
      padding-right: 30px;
      ion-row {
        text-align: center;
        }
      ion-item {
        border-radius: 40px;
        height: 50px;
        --background:rgba(255,255,255,0.5);

        box-shadow: 1px 1px 1px 1px rgb(116, 53, 110);
        --highlight-height: 0px;
        ion-icon{
          font-size: 23px;

        }
      }
      ion-text{
       font-size:0.9rem;


      }
      .head{
      display: flex;
      justify-content: space-between;
      a{
        text-decoration: none;
      }
      }
      p {
        text-align: center;
      }
      ion-button {
        height: 50px;

      }

    }


  }

}


