ion-content {
  .main-header {
    height: 30%;
    width: 100%;
    background: linear-gradient(#66317F, #a870b1);
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 90%;
      height: 40%;
      margin-left:5%;
      margin-right: auto;
    }
  }

  .container {
    #form {

      margin-top: 3%;
      padding-left: 5%;
      padding-right: 5%;

      h1 {
        font-weight: 700;
        font-size: 170%;
        color: #010101;
        text-align: center;

      }

      .error-message {
        color: var(--ion-color-danger);
        padding-left: 25px;
      }


      ion-item {
        border-radius: 5%;
        height: 50px;
        --background: rgba(255, 255, 255, 0.5);
        box-shadow: 1px 1px 1px 1px rgb(221, 218, 221);
        --highlight-height: 0px;

        ion-icon {
          font-size: 23px;

          ion-text {
            font-size: 0.9rem;

          }
        }
      }

      .head {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
        }
      }

      p {
        text-align: center;
      }

      ion-button {
        height: 44px;
        border-radius: 5%;

      }

    }

  }
}

ion-footer {
  height: 15%;
  background: linear-gradient(#66317F, #a870b1);
  border-top-left-radius: 80%;

  #header {
    display: flex;
    justify-content: space-between;

    .iconos {
      margin-left: 8%;
      margin-top: 14%;
      color: #ffffff;

      ion-icon{
        font-size: 150%;
      }

      ion-label {
        font-weight: 600;
        line-height: 1.5rem;
        margin-left: 10px;

      }
    }

    .ficastemlogo {
      width: 25%;
      height: 25%;
      margin-right: 8%;
      margin-top: 5%;
    }
  }

  .logo-face , .logo-twitter {
    display: flex;
    align-items: center;
  }
}
