ion-tab-bar{
    --background:rgb(170, 121, 177);
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
    // width: 90%!important;
    // border-radius: 30px;
    height: 45px;
    // margin-bottom: 1.5rem!important;
    // margin: auto;
}
.tab-selected{
   
    background-color: #420252;
}