

  

  <ion-content [fullscreen]="true" >
    <!-- <ion-slides #slides>
      <ion-slide [style.backgroud-image]="'url(../../../assets/SFSC_STEM-Identity.jpg)'">
        <img src="../../../assets/SFSC_STEM-Identity.jpg" class="slide-image">
      </ion-slide>
      <ion-slide [style.backgroud-image]="'url()'">
        <img src="../../../assets/SFSC_STEM-Identity.jpg" class="slide-image">
      </ion-slide>
      <ion-slide [style.backgroud-image]="'url()'">
        <img src="../../../assets/SFSC_STEM-Identity.jpg" class="slide-image">
      </ion-slide>
    </ion-slides> -->

  </ion-content>
    <!-- <ion-row>
    
 
      <ion-col size="5" offset="4">
        <ion-img src="../../../assets/Fica Stem PNG.png"></ion-img>
      </ion-col>
    </ion-row>
 

<br>
<div class="ion-text-center"  style="color:#2823A4">
<b>Inspirar y empoderar a niñas y adolecentes para que prosigan carreras STEM</b> 
</div>
<br>

<ion-content >

  <ion-slides pager="true" class="slide full">
    <ion-slide class="slide-1">
      <ion-card mode="ios">
        <img src="../../../assets/30AugustPostdocLead.jpg" class="slide-image">
      </ion-card>

    </ion-slide>
    <ion-slide class="slide-2">
      <ion-card mode="ios">
        <img src="../../../assets/ingenieria_quimica_01.jpg" class="slide-image">
      </ion-card>
    </ion-slide>
    <ion-slide class="slide-3">
      <ion-card mode="ios">
        <img src="../../../assets/Imagen_Nuevas_normas1.jpg" class="slide-image">
      </ion-card>
    </ion-slide>

  </ion-slides>
<br>
<div class="ion-text-center"  style="color:#575758">

 <b>Recibe las últimas noticias!</b> 
</div>
<br>
  <ion-button  color="tertiary" type="submit" href="/registro-usuario" expand="block">REGISTRATE</ion-button>
  <ion-button  color="tertiary" type="submit" routerLink="/login" expand="block">INICIAR SESIÓN</ion-button>


</ion-content> -->






