// .slide-1 {
// height: 100%;

// }
ion-slides{
height: 100%;
ion-slide{
    background-position: center;
    background-size: cover;
}
}
ion-content{
    --background: linear-gradient( 135deg, #FEB692 10%, #D10A11 100%);
   }