<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button  color="primary" defaultHref="/login"></ion-back-button>
      </ion-buttons>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Recuperar contraseña</h1>
  </div>

  <form id="form" [formGroup]="formGroup" (ngSubmit)="recuperarPass()">
    <ion-item>
      <ion-label position="floating"> Ingrese su correo:</ion-label>

      <ion-input  formControlName="correo_electronico" ></ion-input>
    </ion-item>
    
    <br>


    <ion-button type="submit" color="primary" shape="round"  [disabled]="!formGroup.valid" expand="block">BUSCAR</ion-button>
  </form>
</ion-content>