<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/login"></ion-back-button>
        <ion-label color="light">Recuperar contraseña</ion-label>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <div class="icon-back">
    <img src="../../../assets/Password reset.png" />
  </div>

  <form id="form" [formGroup]="formGroup" (ngSubmit)="recuperarPass()">
    <ion-item>
      <ion-label position="floating"> Ingrese su correo electrónico:</ion-label>

      <ion-input formControlName="correo_electronico"></ion-input>
    </ion-item>
    <small
      class="error-message"
      *ngIf="formGroup.get('correo_electronico').hasError('required') && formGroup.get('correo_electronico').touched"
      >Campo es requerido</small
    >

    <br />

    <ion-button
      type="submit"
      color="primary"
      [disabled]="!formGroup.valid"
      expand="block"
      style="border-radius: 8px"
      >BUSCAR</ion-button
    >

    <div class="reset-pass">
      <ion-text
        style="font-weight: bold; font-size: 100%"
        color="medium"
        class="ion-text-right"
        >¿Todavía no tienes cuenta?
        <a
          style="font-weight: bold; text-decoration: none; font-size: 100%"
          href="/registro-usuario"
          >Registrate</a
        ></ion-text
      >
    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="foot">

      <div id="header">
        <div class="iconos">
          <div class="logo-face" >
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-label> @fica Stem</ion-label>
          </div>
          <div class="logo-twitter" >
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-label> @StemFica</ion-label>
          </div>

        </div>
        <div class="ficastemlogo">
          <img src="../../../assets/FICASTEM.png" />
        </div>
      </div>


  </div>
</ion-footer>
