<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons *ngIf="datos.id_rol==4" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones-se/menu-principal/home-secundaria"
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light" auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons *ngIf="datos.id_rol==5" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones/tabs/home-superior"
        ></ion-back-button>
      </ion-buttons>
      <div class="label-text">
        <ion-label style="font-size: 100%;"color="light">Noticias STEM</ion-label>
      </div>

    </ion-item>
  </ion-list>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let noticia of noticias">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="img">
              <ion-img
                (click)="detalle(noticia.id_publicacion)"
                *ngIf="noticia.tipo_archivo=='image/png' || noticia.tipo_archivo=='image/jpeg' "
                src="{{noticia.ruta_archivo}}"
              >
              </ion-img>
            </div>
          </ion-col>
          <ion-col *ngIf="!isSeeMore">
            <ion-row style="font-weight: 800;color:#0a0a0a; font-size: 115%;"> {{noticia.titulo}} </ion-row>
            <!-- <div>{{noticia.descripcion.substring(0,100)}}...</div> -->

            <div>
              <ion-button slot="start" (click)="detalle(noticia.id_publicacion)"
                ><ion-icon name="eye-outline"></ion-icon> VER</ion-button
              >
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines-small"
      loadingText="Cargando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
