<ion-header class="ion-no-border">
  <ion-toolbar color="none">
    <ion-buttons slot="start">
      <ion-back-button
        color="light"
        defaultHref="carreras-fica"
      ></ion-back-button>
    </ion-buttons>
    <div class="label-text">
      <ion-label style="font-size: 100%;"color="light">{{Carrera}}</ion-label>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="valueSelected=='noticias'">

    <ion-card *ngFor="let oferta of ofertaAcademica">
      <video
        *ngIf="oferta.tipo_archivo=='video/mp4' || oferta.tipo_archivo=='video/mov'"
        width="100%"
        preload="auto"
        muted="false"
        src="{{oferta.ruta_archivo}}"
        controls
      ></video>
      <div class="img">
        <ion-img
          *ngIf="oferta.tipo_archivo=='image/png' || oferta.tipo_archivo=='image/jpeg' "
          src="{{oferta.ruta_archivo}}"
          (click)="detalle(oferta.id_publicacion)"
        ></ion-img>
      </div>
      <ion-card-header>
        <ion-card-title>{{oferta.titulo}}</ion-card-title>
        <ion-card-subtitle>{{oferta.descripcion}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngIf="valueSelected=='planEstudio'">
    <ion-card>
      <ion-card-title>Semestre 1</ion-card-title>
     <p>
       Cálculo de una variable
     </p>

    </ion-card>
  </div>
</ion-content>
