<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-buttons slot="start">
      <ion-menu-button color="light" auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <div class="user_div">
      <div class="first_div">
        <ion-label class="bienvenida">
          Bienvenida 
        </ion-label> <br>
        <ion-label class="nombres">
          {{datos.nombre}} {{datos.apellido}}
        </ion-label>
      
      </div>
    </div>
  </ion-list>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card routerLink="/menu-opciones-se/menu-principal/perfiles">
          <img  src="../../../../assets/mi.jpg" >

          <ion-card-content>
            <ion-label>Mujeres en STEM </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card routerLink="/menu-opciones-se/menu-principal/noticias">
          <img src="../../../../assets/new.png" >
          <ion-card-content>
            <ion-label>Noticias y eventos </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-6>
        <ion-card routerLink="/menu-opciones-se/menu-principal/carreras-fica">
          <img src="../../../../assets/scholar.png" >
          <ion-card-content>
            <ion-label>Oferta académica FICA</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card routerLink="/menu-opciones-se/menu-principal/test-aptitud">
          <img  src="../../../../assets/test.png" >
          <ion-card-content>
            <ion-label>Test de aptitud vocacional</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
