ion-icon {
  color: rgb(167, 167, 167);
}
ion-header {


  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 20px 20px;
    padding-bottom: 3vh;
    background: linear-gradient(#66317F, #a870b1);




    #header {

      display: flex;
      justify-content: space-between;
      margin-top: 3%;
      .utnlogo {
        width: 30%;
        height: 24%;

        margin-left: 16%;

      }

      .ficastemlogo {

        width: 18%;
        height: 18%;
        margin-right: 16%;

      }


    }

    .user_div {
      padding: 20px;
      width: 100%;
      height: 60px;
      display: flex;
      padding-top: 2px;
      justify-content: space-between;

      .first_div {
        padding-top: 30px;


        .bienvenida {
          font-size: 135%;
          font-weight: 600;
          color: rgb(253, 250, 250);
        }

        .nombres {
          font-size: 20px;
          color: #fdfdfd;
        }
      }

      .secd_div {
        margin-top: 4%;
        padding-top: 3px;
      }

    }
  }
}


ion-card {

  text-align: center;
  height: 25vh;
  border-radius: 10px;
  background: var(--ion-color-white);
  color: rgb(253, 250, 250);

  img {
    width: 60%;
  }

  ion-icon {
    font-size: 50px;
  }

  ion-label {
    font-weight: bold;
    font-size: 1rem;
    color: var(--ion-color-dark)
  }

}
