<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons *ngIf="datos.id_rol==4" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones-se/menu-principal/home-secundaria"
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light" auto-hide="false"></ion-menu-button>
      </ion-buttons>

      <ion-buttons *ngIf="datos.id_rol==5" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones/tabs/home-superior"
        ></ion-back-button>
      </ion-buttons>
      <div class="label-text">
        <ion-label style="font-size: 100%;" color="light">Test vocacional
        </ion-label>
      </div>

    </ion-item>
  </ion-list>
</ion-header>
<ion-content>
  <div class="list-item">
    <ion-slides #slides>
      <ion-slide>
        <div class="list-item">
          <h2 style="font-weight: 700;">Estimado estudiante</h2>
          <ion-text style="font-size: 110%">
            En la Universidad Técnica del Norte, en la Facultad de Ingeniería en Ciencias
            Aplicadas se ofertan las ingenierías en: Telecomunicaciones,
            Software, Textil, Electricidad, Mecatrónica, Industrial, Automotriz.
            Para iniciar una carrera de ingeniería se requiere de conocimientos
            y aptitudes desarrolladas a partir de las materias STEM (Ciencia,
            Tecnología, Ingeniería y Matemáticas). Por lo tanto, se ha elaborado
            un test conformado por dos partes.
          </ion-text>
          <ion-button
            type="submit"
            color="primary"
            (click)="nextSlide()"
            style="border-radius: 8px"
            expand="block"
            >SIGUIENTE</ion-button
          >
        </div>
      </ion-slide>

      <ion-slide>
        <div class="list-item">
          <h2 style="font-weight: 700;">Parte I</h2>
          <ion-text style="font-size: 110%">
            Se establecen los siguientes enunciados con preguntas que identifican
            inicialmente si se posee con los conocimientos, destrezas y
            actitudes generales para estudiar una carrera de ingeniería.
          </ion-text>

          <ion-list >
            <ion-text style="color: rgb(10, 10, 10); font-size: 125%;font-weight: 700;"
              >Instrucciones</ion-text
            >
          </ion-list>
          <ion-text style="font-size: 110%">
            Lea atentamente cada una de las actividades. Selecciona una
            respuesta por cada pregunta con verdad para que el resultado de la
            prueba tenga fiabilidad.
          </ion-text>
          <ion-button
            type="submit"
            color="primary"
            (click)="nextSlide()"
            style="border-radius: 8px;"
            expand="block"
            >COMENZAR TEST</ion-button
          >
        </div>
      </ion-slide>

      <ion-slide *ngFor="let test of TestIng;let i = index;">
        <h4 style="font-size: 140%">PREGUNTA {{i+1}} DE {{TestIng.length}}</h4>
        <div style="margin-top: 60px">
          <ion-text style="font-size: 130%">
            {{test.nombre_pregunta}}
          </ion-text>
        </div>
        <div style="margin-top: 70px">
          <ion-button
            (click)="respondPoll(1,test.id_pregunta)"
            style="margin-top: 20px"
            [fill]="button1.fill"
            [color]="button1.color"
            expand="block"
            [disabled]="hasAnswered"
          >
            SÍ
          </ion-button>
          <ion-button
            (click)="respondPoll(2,test.id_pregunta)"
            style="margin-top: 20px"
            [fill]="button2.fill"
            [color]="button2.color"
            expand="block"
            [disabled]="hasAnswered1"
          >
            NO
          </ion-button>
        </div>
      </ion-slide>

      <ion-slide>
        <div *ngIf="totalQuizz>60">
          <div class="list-item">
            <h2 style="font-weight: 700;">Parte II</h2>
            <ion-text style="font-size: 110%">

              A la hora de realizar un trabajo profesional se debe estar
              cualificado para su desarrollo, por lo que es importante conocer
              qué tipo de área de la ingeniería se adapta mejor a cada persona
              por su carácter,gustos,etc.
            </ion-text>
            <ion-list >
              <ion-text style="color: rgb(10, 10, 10); font-size: 125%;font-weight: 700;"
                >Instrucciones</ion-text
              >
            </ion-list>
            <ion-text style="font-size: 110%">
              Lea atentamente cada una de las actividades. Selecciona una
              respuesta por cada pregunta con verdad para que el resultado de la
              prueba tenga fiabilidad.
            </ion-text>
            <ion-button
              type="submit"
              color="primary"
              (click)="nextSlide()"
              style="border-radius: 8px"
              expand="block"
              >COMENZAR TEST</ion-button
            >
          </div>
        </div>
        <div *ngIf="totalQuizz<60">
          <div class="list-item">
            <div class="menssage">
              <img src="../../../../assets/Product Goals.png" />
              <ion-text style="font-size: 110%">
                ¡No todos tenemos el perfil exacto para ser ingeniero; sin
                embargo, la perseverancia puede llevarte lejos.!
              </ion-text>
              <ion-button
                (click)="restartQuiz()"
                type="submit"
                color="primary"
                style="border-radius: 8px"
                expand="block"
                >REGRESAR</ion-button
              >
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide *ngFor="let preguntas of test; let i = index;">
        <h4>PREGUNTA {{i+1}} DE {{test.length}}</h4>
        <div style="margin-top: 100px">
          <ion-text> {{preguntas.pregunta}} </ion-text>
        </div>
        <div style="margin-top: 70px">
          <ion-button
            (click)="respondPollTest2(1,preguntas.id_carrera)"
            style="margin-top: 20px"
            [fill]="button1.fill"
            [color]="button1.color"
            expand="block"
            [disabled]="hasAnswered"
          >
            SI
          </ion-button>
          <ion-button
            (click)="respondPollTest2(2,preguntas.id_carrera)"
            style="margin-top: 20px"
            [fill]="button2.fill"
            [color]="button2.color"
            expand="block"
            [disabled]="hasAnswered1"
          >
            NO
          </ion-button>
        </div>
      </ion-slide>
      <ion-slide>
        <h2 style="font-weight: 700">Estimada</h2>
        <ion-label class="nombres">
          {{datos.nombre}} {{datos.apellido}}
        </ion-label>
        <h2 style="font-size: 110%">
          Bienvenido al mágico mundo STEM de acuerdo a tus respuestas es
          recomendable aplicar a la Ingeniería en:
        </h2>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div style="font-weight: 700">Carrera</div>
            </ion-col>
            <ion-col>
              <div style="font-weight: 700">Puntos</div>
            </ion-col>
          </ion-row>
          <ion-row  *ngIf="software>=60">
            <ion-col >
              <div>Software</div>
            </ion-col>
            <ion-col>
              <div>{{software}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="mecatronica>59">
            <ion-col >
              <div>Mecatrónica</div>
            </ion-col>
            <ion-col>
              <div>{{mecatronica}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="textil>59">
            <ion-col>
              <div>Textil</div>
            </ion-col>
            <ion-col>
              <div>{{textil}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="industrial>59">
            <ion-col>
              <div>Industrial</div>
            </ion-col>
            <ion-col>
              <div>{{industrial}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="automotriz>59">
            <ion-col>
              <div>Automotriz</div>
            </ion-col>
            <ion-col>
              <div>{{automotriz}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="telecomunicaciones>59">
            <ion-col>
              <div>Telecomunicaciones</div>
            </ion-col>
            <ion-col>
              <div>{{telecomunicaciones}}%</div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="electricidad>59">
            <ion-col>
              <div>Electricidad</div>
            </ion-col>
            <ion-col>
              <div>{{electricidad}}%</div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button
          (click)="restartQuiz()"
          type="submit"
          color="primary"
          style="border-radius: 8px"
          expand="block"
          >Comenzar un nuevo test</ion-button
        >
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
