<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <!-- <ion-buttons *ngIf="datos.nivel_academico=='secundaria'" slot="start">
        <ion-back-button color="light" defaultHref="menu-opciones-se/menu-principal/home-secundaria"></ion-back-button>
      </ion-buttons> -->

      <ion-buttons *ngIf="datos.nivel_academico=='superior'" slot="start">
        <ion-back-button color="light" defaultHref="menu-opciones/tabs/home-superior"></ion-back-button>
        <ion-label color="light">Mentorias</ion-label>
      </ion-buttons>
 
    </ion-item>
  </ion-list>

  <!-- <ion-segment (ionChange)="segmenntChange($event)" [value]="valueSelected">
    <ion-segment-button value="1">
      <ion-label>Disponibles</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Solicitar </ion-label>
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <div *ngIf="valueSelected=='1'"> -->
  <form id="form" [formGroup]="formGroup" (ngSubmit)="buscarDisponibilidad()">
    
    <div class="list-item">
     <ion-radio-group (ionChange)="selectRes($event)" formControlName="nombre_mentor">
      <ion-list-header>
        <p>Seleccione el mentor..</p>
      </ion-list-header>
        
          <ion-item *ngFor="let registro of registroMentorias">
            <ion-label> {{registro.nombre}} {{registro.apellido}}</ion-label>
            <ion-radio value="{{registro.id_usuario}}"></ion-radio>
          </ion-item>
      
      </ion-radio-group>
    </div>
    
    <ion-button type="submit" color="primary" shape="round" expand="block" [disabled]="!formGroup.valid"><ion-icon name="search-outline"></ion-icon> BUSCAR
      DISPONIBILIDAD</ion-button>
    <p>{{mensaje}}</p>

    <!-- <ion-item>
            <ion-label>
              Mentora: {{registro.nombre}} {{registro.apellido}}</ion-label
            >
          
          </ion-item> -->

    <!-- <ion-card-content>
            <ion-card-subtitle>Día:{{registro.fecha}}</ion-card-subtitle>
            <ion-card-subtitle
              >Hora:{{registro.hora_inicio}}-{{registro.hora_fin}}</ion-card-subtitle
            >
            <ion-card-subtitle>Materia:{{registro.materia}}</ion-card-subtitle>
            <ion-button
            fill="outline"
            slot="end"
            (click)="getMentoria(registro.id_registro_mentoria)"
            >AGENDAR</ion-button
          >
          </ion-card-content> -->


    <!-- </div> -->
  </form>

  <!-- SOLICITUD MENTORIAS
    <div *ngIf="valueSelected=='2'">
    <ion-card>
      <form
        id="form"
        [formGroup]="formSolicitudM"
        (ngSubmit)="saveSolicitudMentoria()"
      >
        <ion-item>
          <ion-label position="floating">
            Selecciona la materia que decee apoyo académico:</ion-label
          >
          <ion-select placeholder="Seleccione" formControlName="nombre_materia">
            <ion-select-option *ngFor="let materia of materiasC"
              >{{materia.nombre_materia}}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Tema de interés:</ion-label>
          <ion-input
            formControlName="tema"
            placeholder="Ingrese tema"
          ></ion-input>
        </ion-item>

        <br />

        <ion-button
          [disabled]="!formSolicitudM.valid"
          type="submit"
          color="primary"
          shape="round"
          expand="block"
          >Enviar</ion-button
        >
      </form>
    </ion-card>
    <br />


    
      <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-6> MATERIA </ion-col>
          <ion-col col-6> TEMA </ion-col>
          <ion-col col-1> ACCIÓN</ion-col>

        </ion-row>
        <ion-row *ngFor="let SolicitudesEst of solicitudesEst" >
          <ion-col col-6>{{SolicitudesEst.nombre_materia}} </ion-col>
          <ion-col col-6>{{SolicitudesEst.tema}} </ion-col>
          <ion-col col-1> <ion-icon name="trash-sharp"></ion-icon></ion-col>

        </ion-row>
      </ion-grid>
      
    </ion-card> 
  </div> -->
</ion-content>