.error-message {
  color: var(--ion-color-danger);
  padding-left: 30px;
}

ion-header {
  background: var(--ion-color-light);

  ion-list {
    background: var(--ion-color-primary);
    border-radius: 0 0 18px 18px;
    background: linear-gradient(#66317F, #a870b1);

    .label-text{
      margin-left: auto;
      margin-right: auto;
      ion-label {
        font-weight: bold; //negrita
        font-size: 1rem; //tamaño letra
        letter-spacing: 0.1px;
      }
    }

  }
}

ion-content {
  #form {
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;

    .text-solictudes {
      margin-top: 5%;
      margin-left: 10px;
      font-weight: 700;
    }

    ion-card {
      border-radius: 10px;
    }


    p {
      font-size: 1rem;
      color: #646262;
      margin-right: 5px;

    }

  }

}
