<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="none">
      <ion-buttons *ngIf="datos.nivel_academico=='secundaria'" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones-se/menu-principal/home-secundaria"
        ></ion-back-button>
      </ion-buttons>

      <ion-buttons *ngIf="datos.nivel_academico=='superior'" slot="start">
        <ion-back-button
          color="light"
          defaultHref="menu-opciones/tabs/home-superior"
        ></ion-back-button>
      </ion-buttons>
      <ion-label color="light">Mis mentorias </ion-label>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-card *ngFor="let mentorias of mentoriasAgendadas">
    <ion-card-content>
      <ion-label> Mentora: </ion-label>{{mentorias.nombre}}
      {{mentorias.apellido}}
      <br />
      <ion-label> Día: </ion-label>{{mentorias.fecha}}
      <br />
      <ion-label> Hora: </ion-label>
      Hora:{{mentorias.hora_inicio}}-{{mentorias.hora_fin}}
      <br />
      <ion-label> Materia: </ion-label>{{mentorias.materia}}
      <BR>
      <ion-button
            fill="outline"
            slot="end"
            (click)="presentAlert(mentorias.id_agendamiento_mentoria)"
            ><ion-icon name="trash-outline"></ion-icon> ANULAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
